.container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 0 0.4rem;
}

.input {
  border: 1px solid grey;
  width: 85%;
  font-size: 1.5rem;
  padding: 10px 20px;
  font-family: 'Courier New', Courier, monospace;
}

.btn {
  background-color: #8d4be5;
  color: whitesmoke;
  border: none;
  font-size: 2rem;
  padding: 10px 20px;
}
